<!doctype html>
<html lang="en"><head><meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta charset="utf-8">
        <title>bugs bounty</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- le html5 shim, for ie6-8 support of html elements -->
        <!--[if lt ie 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- le styles -->

        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <style type="text/css">

        </style>

        <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="http://twitter.github.com/bootstrap/examples/images/favicon.ico">
        <link rel="apple-touch-icon" href="http://twitter.github.com/bootstrap/examples/images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="http://twitter.github.com/bootstrap/examples/images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="http://twitter.github.com/bootstrap/examples/images/apple-touch-icon-114x114.png">
    </head>

    <body>

        {{> navbar}}
        <div class="container">
            <div class="row aboutUs">
                <div class="span12 master-mind">
                    <h1>About Us</h1>
                    <div class="row">
                        <div class="span6">
                            <ol>
                                <li>
                                    <h3>Opportunity</h3>
                                    <p>The world mobile application market is expected to grow from $25 billion by 2015. In a crowded market the only way to differentiate your app is to provide top quality with an intuitive user experience. The fragmentaton in the mobile market makes it cumbersome for developers.</p>
                                </li>
                                <li>
                                    <h3>Community</h3>
                                    <p>There is a growing community of early adopters that will help developers test their apps and provide invaluable feedback.</p>
                                </li>
                            </ol>
                        </div>
                        <div class="span6">
                            <ol>
                                <li>
                                    <h3>Platform</h3>
                                    <p>We will provide online tools and cross-platform SDKs to help developers deploy their apps to their target audience and get realtime feedback from the community.</p>
                                </li><li>
                                    <h3>Team</h3>
                                    <p>We are a bunch of web and mobile developers that feel testing mobile apps in a fragmented and fast evolving market poses unique challenges. We have set a lofty goal for ourselves to make it easy for developers to find testers, deploy apps, collect feedback and iterate on their product.<a href='/'>Sign up</a> here do that we can find the testing solution that best fits your needs.</p>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <footer>
            <p>© Bugs Bounty 2012</p>
            </footer>

        </div> <!-- /container -->

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="./ext-js/jquery.js"></script>
        <script src="./bootstrap/js/bootstrap.js"></script>
        <script src="./ext-js/jquery.smooth-scroll.js" type="text/javascript"></script>

        {{> analytics}}
        {{> feedback}}

</body></html>
