<!doctype html>
<html lang="en"><head><meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta charset="utf-8">
        <title>bugs bounty</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- le html5 shim, for ie6-8 support of html elements -->
        <!--[if lt ie 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- le styles -->

        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <style type="text/css">

        </style>
        
        <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="http://twitter.github.com/bootstrap/examples/images/favicon.ico">
        <link rel="apple-touch-icon" href="http://twitter.github.com/bootstrap/examples/images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="http://twitter.github.com/bootstrap/examples/images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="http://twitter.github.com/bootstrap/examples/images/apple-touch-icon-114x114.png">
    </head>

    <body>
        
        {{> navbar}}
        <div class="container">
            <div class="row aboutUs">
                <div class="span3">
                    <h1>heading</h1>
                </div>
                <div class="span9 evil-genius master-mind">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer condimentum luctus ipsum, eu aliquam massa vulputate sit amet. Curabitur et tellus massa. Aliquam tortor metus, interdum vitae pharetra vitae, pretium at nisl. Nam blandit, turpis in congue auctor, lectus eros volutpat sem, eget suscipit leo neque vitae risus.   </p>
                </div>
            </div>
            <div class="row aboutUs">
                <div class="span3">
                    <h1>heading</h1>
                </div>
                <div class="span9 evil-genius master-mind">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer condimentum luctus ipsum, eu aliquam massa vulputate sit amet. Curabitur et tellus massa. Aliquam tortor metus, interdum vitae pharetra vitae, pretium at nisl. Nam blandit, turpis in congue auctor, lectus eros volutpat sem, eget suscipit leo neque vitae risus.   </p>
                </div>
            </div>
            <div class="row aboutUs">
                <div class="span3">
                    <h1>heading</h1>
                </div>
                <div class="span9 evil-genius master-mind">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer condimentum luctus ipsum, eu aliquam massa vulputate sit amet. Curabitur et tellus massa. Aliquam tortor metus, interdum vitae pharetra vitae, pretium at nisl. Nam blandit, turpis in congue auctor, lectus eros volutpat sem, eget suscipit leo neque vitae risus.   </p>
                </div>
            </div>
            <div class="row aboutUs">
                <div class="span3">
                    <h1>heading</h1>
                </div>
                <div class="span9 evil-genius master-mind">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer condimentum luctus ipsum, eu aliquam massa vulputate sit amet. Curabitur et tellus massa. Aliquam tortor metus, interdum vitae pharetra vitae, pretium at nisl. Nam blandit, turpis in congue auctor, lectus eros volutpat sem, eget suscipit leo neque vitae risus.   </p>
                </div>
            </div>
         </div>
        <hr>

        <footer>
        <p>© Bugs Bounty 2012</p>
        </footer>

    </div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./ext-js/jquery.js"></script>
<script src="./bootstrap/js/bootstrap.js"></script>
<script src="./ext-js/jquery.smooth-scroll.js" type="text/javascript"></script>

{{> analytics}}
{{> feedback}}

</body></html>
