<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Bugs Bounty</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le styles -->

        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <style type="text/css">

        </style>

        <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="http://twitter.github.com/bootstrap/examples/images/favicon.ico">
        <link rel="apple-touch-icon" href="http://twitter.github.com/bootstrap/examples/images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="http://twitter.github.com/bootstrap/examples/images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="http://twitter.github.com/bootstrap/examples/images/apple-touch-icon-114x114.png">
    </head>

    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    {{> logo}}
                    <div class="pull-right">
                        <a href="/tester" class="btn btn-primary btn-large" >Not a developer?</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="row" style="text-align: center;">
                <div class="span12 master-mind">
                    <h1>Get Quality Feedback On Your App</h1>
                    <h2>Cross Platform. Community Driven. Reward Based Testing.</h2>
                    <div class="row">
                        <div id="signup" class="offset3 span6 master-mind">
                            <form  id="devInfoForm" class="infoForm" method="post" action="lpUserAdd.html">
                                <input type="hidden" name="developer" value="developer">
                                <div class="row">
                                    <input type=name name=name placeholder="Name" required>
                                    <input type=email name=email placeholder="Email" required>
                                </div>
                                <div class="row">
                                    <label>Which platforms do you develop for?</label>
                                </div>
                                <div class="platform-picker clearfix">
                                    <ul class="button-picker-nojs">
                                        <li>
                                        <a class="ios" href="#ios"><span></span>iOS</a>
                                        <label class="checkbox"><input type="checkbox" name="platform_ios" value="true">iOS</label>
                                        </li>
                                        <li>
                                        <a class="android" href="#android"><span></span>Android</a>
                                        <label class="checkbox"><input type="checkbox" name="platform_android" value="true">Android</label>
                                        </li>
                                        <li>
                                        <a class="blackberry" href="#blackberry"><span></span>Blackberry</a>
                                        <label class="checkbox"><input type="checkbox" name="platform_blackberry" value="true">BlackBerry</label>
                                        </li>
                                        <li>
                                        <a class="windows" href="#wp"><span></span>Windows Phone</a>
                                        <label class="checkbox"><input type="checkbox" name="platform_windows" value="true">Windows Phone</label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <input type=submit class="btn-primary btn-large" value="Sign up">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="features" class="span12 master-mind">
                    <h1>Features</h1>
                    <div class="row">
                        <div class="span6">
                            <ol>
                                {{#features.set1}}
                                <li>
                                <h3>{{heading}}</h3>
                                <p>{{text}}</p>
                                </li>
                                {{/features.set1}}
                            </ol>
                        </div>
                        <div class="span6">
                            <ol>
                                {{#features.set2}}
                                <li>
                                <h3>{{heading}}</h3>
                                <p>{{text}}</p>
                                </li>
                                {{/features.set2}}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <footer>
            <p>© Bugs Bounty 2012</p>
            </footer>

            <div class="modal hide fade in" id="successModal">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h2>Thanks for signing up!</h2>
                </div>
                <div class="modal-body">
                    <p>We will be launching this summer and you will have exclusive access to our beta this spring.</p>
                </div>
            </div>

            <div class="modal hide fade in" id="errorModal">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h2>Oh no :(</h2>
                </div>
                <div class="modal-body">
                    <p>Something went wrong but that shouldn't stop you from joining Bugs Bounty.</p>
                    <p><a class="btn btn-primary btn-large pull-right" href="mailto:support@bugsbounty.com?subject=I%20want%20to%20join%20Bugs%20Bounty!">Click here</a></p>
                </div>
            </div>
        </div> <!-- /container -->

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="./ext-js/jquery.js"></script>
        <script src="./bootstrap/js/bootstrap.js"></script>
        <script src="./ext-js/jquery.smooth-scroll.js" type="text/javascript"></script>
        <script src="./ext-js/jquery.placeholder.min.js" type="text/javascript"></script>

        <script type="text/javascript">
            $(document).ready(function() {

                //Fixing the placeholder text for old browsers
                $('input, textarea').placeholder();

                //Remove anything the NEEDS js
                $(".needjs").removeClass("needjs");

                //Swaping the no-js version for the js version
                $(".button-picker-nojs").addClass("button-picker").removeClass("button-picker-nojs");

                //Show the js platform picker and hide the no-js version
                $(".platform-picker a").removeClass("hidden");
                $(".platform-picker label").addClass("hidden");

                //Show the form when any of the area is clicked
                $(".hero-btn").click(function(obj){
                    $(this).children('form').removeClass("hidden");
                    $(this).children('.btn-primary').addClass("hidden");
                    _gaq.push(['_trackEvent', 'Clicks', 'Signup', $(this).children('h1').html()]);
                    });

                //When a platform is picked, select it
                $(".button-picker li a").click(function(obj){
                        $(this).toggleClass("selected");
                        //Select the appropriate checkbox
                        var $checkbox = $(this).parent().find(':checkbox');
                        $checkbox.attr('checked', !$checkbox.attr('checked'));
                        });
                $('a[href="#signUp"]').click(function(event) {
                        event.preventDefault();
                        var link = this;
                        $.smoothScroll({
scrollTarget: mydiv
});
                        $('.infoForm').removeClass("hidden");
                        $(".hero-btn").children('.btn-primary').addClass("hidden");
                        _gaq.push(['_trackEvent', 'Clicks', 'Signup', 'nav-signup']);
                        });
//Build the signup XHR
$('form').submit(function() {
        var form_data = $(this).serialize();
        var resultArea = $(this).siblings("h1");
        _gaq.push(['_trackEvent', 'Clicks', 'Signup', 'submit']);
        $.post('lp/user/add', form_data, function(data) {
            $('#successModal').modal('show');
            })
        .error( function() {
            var mailLink = $('#errorModal > .modal-body a');
            var ref = mailLink.attr('href');
            mailLink.attr('href',ref+'&body=Send me!%0A%0A'+ form_data.replace(/&/g,"%0A"));
            $('#errorModal').modal('show');
            });

        //Prevent default form submission
        return false;
        });
});
</script>

{{> analytics}}
{{> feedback}}

</body></html>
