<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>{{{title}}}</title>
        {{{metaInfo}}}
        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le styles -->

        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <style type="text/css">

        </style>

        <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="http://twitter.github.com/bootstrap/examples/images/favicon.ico">
        <link rel="apple-touch-icon" href="http://twitter.github.com/bootstrap/examples/images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="http://twitter.github.com/bootstrap/examples/images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="http://twitter.github.com/bootstrap/examples/images/apple-touch-icon-114x114.png">
    </head>

    <body>
        {{> navbar}}
        <div class="container">
            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="row" style="text-align: center;">
                <div class="span12 master-mind">
                    <h1>Get Quality Feedback On Your App</h1>
                    <h2>Cross Platform. Community Driven. Reward Based Testing.</h2>
                    <div class="row">
                        <div id="signup" class="offset3 span6 master-mind">

                            <form  id="devInfoForm" class="infoForm" method="post" action="lpUserAdd.html">
                                <input type="hidden" name="developer" value="developer">
                                <div class="row">
                                    <input type=name name=name placeholder="Name">
                                    <input type=email name=email placeholder="Email" class="required">
                                </div>
                                <div class="row">
                                    <label>Choose your mobile platforms:</label>
                                </div>
                                {{> platforms}}
                                <div class="row">
                                    <input type=submit class="btn-primary btn-large" value="Request Invitation">
                                </div>
                            </form>

                            <div id="error" class="row hidden">
                                <div class="offset1 span4 master-mind">
                                    <h3>{{{signup.fail.title}}}</h3>
                                    <p>{{{signup.fail.body}}}</p>
                                    <div class="row">
                                        <a class="btn btn-danger" href="mailto:support@bugsbounty.com?subject=I%20want%20to%20join%20Bugs%20Bounty!">Click Here</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="features" class="span12 master-mind">
                    <h1>Features</h1>
                    <div class="row">
                        <div class="span6">
                            <ol>
                                {{#features.set1}}
                                <li>
                                <h3>{{heading}}</h3>
                                <p>{{text}}</p>
                                </li>
                                {{/features.set1}}
                            </ol>
                        </div>
                        <div class="span6">
                            <ol>
                                {{#features.set2}}
                                <li>
                                <h3>{{heading}}</h3>
                                <p>{{text}}</p>
                                </li>
                                {{/features.set2}}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <footer>
            <p>&copy; Bugs Bounty 2012</p>
            </footer>
        </div> <!-- /container -->

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="./ext-js/jquery.js"></script>
        <script src="./bootstrap/js/bootstrap.js"></script>
        <script src="./ext-js/jquery.placeholder.min.js" type="text/javascript"></script>
        <script src="./js/landing.js" type="text/javascript"></script>

        {{> analytics}}
        {{> feedback}}

</body></html>
